python -m venv legalmate_env

# Activate on Windows
.\legalmate_env\Scripts\activate
# Activate on macOS/Linux
source legalmate_env/bin/activate

pip install transformers sentence-transformers faiss-cpu pypdf pandas numpy
pip install google-genai

# On macOS/Linux
export GEMINI_API_KEY="YOUR_API_KEY_HERE"

# On Windows (Command Prompt)
set GEMINI_API_KEY="YOUR_API_KEY_HERE"